.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 16.66%;
  height: 70px;
  box-sizing: border-box
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
  color: rgb(66, 65, 65);
  display: flex;
  flex-direction: row;
  padding: 50px;
  text-align: center;
  align-items: center;
}


.device{
  position: relative
}
.nav-bar{
  display: flex;
  width: 120%;
  position: absolute;
  bottom: 0;
}
#profile_picture {
  cursor: pointer;
  border-radius: 50%;
  object-fit: cover;
  height: 200px
}
#Profile ul{
  list-style-type: none;
}
/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

.container {
  background-color: #32A86D;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
  /* padding: 20px; */
  max-width: 400px;
  align-items: center;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin:0;
}

.pfp {
  width: 40px;
  height: 40px;
  background-color: wheat;
  border-radius: 50%;
}

.card {
  background-color: white;
  color: black;
  display: flex;
  width: 550px;
  flex-direction: column;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}

.cheader {
  display: flex;
  width: auto;
  align-items: center;
  margin-bottom: 15px;
}

.icon {
  background-color: #E6E6FA;
  color: #9C27B0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

h2 {
  font-size: 18px;
  margin: 0;
  flex-grow: 1;
}

.dots {
  font-size: 20px;
}

.banner {
  background-color: #E6E6FA;
  height: 100px;
  margin-bottom: 15px;
}

